@font-face {
  font-family: "SVN-Gilroy";
  src: url(./SVN-Gilroy\ Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: "SVN-Gilroy";
  src: url(./SVN-Gilroy\ SemiBold.otf);
  font-weight: 600;
}
