@mixin text-clip($line) {
  //   text-overflow: ellipsis;
  //   overflow: hidden;
  //   white-space: nowrap;

  display: -webkit-box;

  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
