@mixin vertical-scrollbar() {
  &::-webkit-scrollbar {
    width: 7px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--color-gray-330);
    border-radius: 5px;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-330);
  }
}

@mixin horizontal-scrollbar() {
  &::-webkit-scrollbar {
    height: 8px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--color-gray-330);
    border-radius: 5px;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-330);
  }
}

@mixin slick-dots-red($bottom) {
  :global .slick-dots {
    bottom: $bottom;
    li {
      @apply mx-0;
      button:before {
        font-size: 14px;
      }
    }
    li.slick-active {
      button:before {
        @apply text-th-red-500;
        font-size: 16px;
      }
    }
  }
}
