@mixin text-clip($line) {
  //   text-overflow: ellipsis;
  //   overflow: hidden;
  //   white-space: nowrap;

  display: -webkit-box;

  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin vertical-scrollbar() {
  &::-webkit-scrollbar {
    width: 7px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--color-gray-330);
    border-radius: 5px;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-330);
  }
}
