:root {
  --color-gray-50: #d4d4d4;
  --color-gray-100: #d9d9d9;
  --color-gray-200: #eeeeee;
  --color-gray-300: #626262;
  --color-gray-400: #1a1818;
  --color-gray-500: #1c1f35;
  --color-red-500: #ee0033;

  /******************
 * NOT OFTEN USED *
 ******************/
  --color-gray-310: rgba(68, 73, 77, 0.2);
  --color-black-400: rgba(0, 0, 0, 0.3);
  --color-gray-320: #44494d;
  --color-red-200: #fff5f7;
  --color-red-600: #c00d33;
  --color-gray-250: #f6f7f9;
  --color-gray-220: #f5f5f5;
  --color-gray-260: #e3e3e3;
  --color-gray-270: #e3e3e3;
  --color-gray-280: #e5dfe0;
  --color-gray-330: #868686;
  --color-black-overlay: rgba(0, 0, 0, 0.5);
  --color-white-overlay: rgba(255, 255, 255, 0.5);

  /***************
 * TRANSPARENT *
 ***************/
  --color-white-20-percent: #ffffff33;

  /************
 * GRADIENT *
 ************/
  --color-back-gray-gradient: radial-gradient(
    50% 50% at 50% 50%,
    #44494d 73.96%,
    rgba(68, 73, 77, 0) 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
