.sliderWp {
  height: 479px;
}
.banner {
  height: 450px;
  @apply object-cover;
}
.feature {
  //height: 80px;
  border-bottom: 1px solid var(--color-gray-100);
}
.featureItem {
  @apply flex items-center gap-7;
  img {
    height: 50px;
  }
  p {
    @apply whitespace-pre-line text-sm font-semibold;
  }
}
.aboutItem {
  @apply relative;
  & > p {
    @apply absolute text-transparent -top-2;
    font-size: 110px;
    -webkit-text-stroke: 1px var(--color-gray-310);
    line-height: 110px;
  }
}
.aboutItem1 {
  // @apply flex flex-col items-center;

  @apply ml-10;
  & > p {
    @apply inline-block w-80 text-th-gray-300 font-medium;
  }
}
.aboutItemHead {
  p {
    &:first-child {
      @apply text-th-red-500 font-semibold inline mr-3;
      font-size: 64px;
    }
  }
  p {
    &:nth-child(2) {
      @apply text-th-red-500 font-semibold inline mr-3 text-2xl;
    }
  }
}
.arrowLeftSlider {
  width: 40px !important;
  left: -50px !important;
}

.arrowRightSlider {
  width: 40px !important;
  right: -50px !important;
}
