/****************
 * FIRST SLIDER *
 ****************/
.sliderWp {
  height: 479px;
}

.banner {
  height: 450px;
  @apply object-cover;
}
/********************
 * END FIRST SLIDER *
 ********************/

/****************
 * LIST FEATURE *
 ****************/
.feature {
  //height: 80px;
  border-bottom: 1px solid var(--color-gray-100);
}
.featureItem {
  @apply flex items-center gap-7;
  img {
    height: 50px;
  }
  p {
    @apply whitespace-pre-line text-sm font-semibold;
  }
}
/********************
 * END LIST FEATURE *
 ********************/

/**************
 * LIST ABOUT *
 **************/
.aboutItem {
  @apply relative;
  & > p {
    @apply absolute text-transparent -top-2;
    font-size: 110px;
    -webkit-text-stroke: 1px var(--color-gray-310);
    line-height: 110px;
  }
}
.aboutItem1 {
  // @apply flex flex-col items-center;

  @apply ml-10;
  & > p {
    @apply inline-block w-80 text-th-gray-300 font-medium;
  }
}
.aboutItemHead {
  p {
    &:first-child {
      @apply text-th-red-500 font-semibold inline mr-3;
      font-size: 64px;
    }
  }
  p {
    &:nth-child(2) {
      @apply text-th-red-500 font-semibold inline mr-3 text-2xl;
    }
  }
}
.arrowLeftSlider {
  width: 40px !important;
  left: -50px !important;
}

.arrowRightSlider {
  width: 40px !important;
  right: -50px !important;
}
/******************
 * END LIST ABOUT *
 ******************/

/**********
 * HEADER *
 **********/

.navBtn {
  @apply relative;
  // @apply text-th-red-500;
  transition: color 2s;
  &::before {
    content: "";
    transition: width 0.2s;
    @apply absolute w-0 bg-th-red-500 bottom-0 border-t rounded-t-[20px] left-0 right-0 mx-auto;
    height: 5px;
    &:hover {
      @apply w-20;
      // height: 5px;
    }
  }
  &:hover {
    @apply text-th-red-500;
  }
}

.navBtnSelected {
  @apply text-th-red-500;
  &::before {
    @apply w-20;
    // height: 5px;
  }
}
/**************
 * END HEADER *
 **************/

/***************
 * ABOUT > TAB *
 ***************/
.tabWp {
  width: 376px;
  height: 125px;
  border-width: 1px;
  padding: 31px;
  @apply border-th-gray-200 cursor-pointer text-2xl font-semibold gap-4;
  p {
    @apply whitespace-pre-line text-th-gray-300;
  }
  & > div {
    @apply relative;
    img {
      @apply absolute bottom-0 -right-7;
    }
  }
  &:hover p {
    @apply text-th-red-500;
  }
}

.selectedTab {
  @apply bg-th-red-500;
  &:hover p,
  p {
    @apply text-white;
  }
}
/*******************
 * END ABOUT > TAB *
 *******************/
