@import "../../../assets/css/_variables.scss";
@import "../../../assets/css/animate.scss";

/*******************
 * SERVICE GENERAL *
 *******************/

.overviewWp {
  @apply relative flex items-end;
  height: 880px;
  & > img {
    &:first-child {
      @apply absolute w-full h-full object-cover;
    }
  }
}

.myServiceTitle {
  @apply text-th-white font-bold my-1;
  font-size: 25px;
}
.serviceItem {
  @apply relative shadow-xl;
  padding-top: 135%;
}
.serviceItemImg {
  @apply min-h-0 relative;
  flex-basis: 81%;
}
.serviceItemTxt {
  @apply p-11 text-2xl font-bold;
}
/*******************
 * END SERVICE GENERAL *
 *******************/
